*_bak.py
logs/
images_archive
weights
checkpoints
TODO.md
plot_loss.py
nohup.out


*.json
*.h5
*.hdf5
.DS_Store

data/*/
data
images
saved_models
samples
runs
face
config_data

venv
.vscode


__pycache__
